<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" th:href="/css/toolbar.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- capçalera apartat jugadors -->
        <header th:fragment="capcaleraJugadors">
            <div style="background-color: #00CCE5; padding: 30px; display: flex; align-items: center;  height:75px">
            <!-- Logo -->
            <a href="/inici">
                <img src="/imatges/logo2.png" alt="logo" class="logo" style="width: 75px; height: 75px; margin-right: 5px;"></a>
                <div style="padding: 660px;"></div>
            <a href="/perfil">
                <img alt="imgPerfil" class="imgPerfil" style="width: 75px; height: 75px; margin-right: 20px; " src="/imatges/usuarios.png"></a>
            <!-- Contenido de la barra de herramientas -->
        </div>
        </header>
        
        <!-- capçalera apartat equips -->
        <header th:fragment="capcaleraEquips">
            <div style="background-color: #FF00B9; padding: 30px; display: flex; align-items: center;  height:75px">
            <!-- Logo -->
            <a href="/inici">
                <img src="/imatges/logo2.png" alt="logo" class="logo" style="width: 75px; height: 75px; margin-right: 5px;"></a>
                <div style="padding: 660px;"></div>
            <a href="/perfil">
                <img alt="imgPerfil" class="imgPerfil" style="width: 75px; height: 75px;" src="/imatges/usuarios.png"></a>
        </div>
        </header>
        <!-- capçalera apartat usuaris -->
        <header th:fragment="capcaleraUsuaris">
            <div style="background-color: #FF7C16; padding: 30px; display: flex; align-items: center;  height:75px">
            <!-- Logo -->
            <a href="/inici">
                <img src="/imatges/logo2.png" alt="logo" class="logo" style="width: 75px; height: 75px; margin-right: 5px;"></a>
                <div style="padding: 660px;"></div>
            <a href="/perfil">
                <img alt="imgPerfil" class="imgPerfil" style="width: 75px; height: 75px;" src="/imatges/usuarios.png"></a>
            <!-- Contenido de la barra de herramientas -->
        </div>
        </header>
        <!-- capçalera apartat ajustes -->
        <header th:fragment="capcaleraErp">
            <div style="background-color: #00FFD8; padding: 30px; display: flex; align-items: center;  height:75px">
            <!-- Logo -->
            <a href="/inici">
                <img src="/imatges/logo2.png" alt="logo" class="logo" style="width: 75px; height: 75px; margin-right: 5px;"></a>
                <div style="padding: 660px;"></div>
            <a href="/perfil">
                <img alt="imgPerfil" class="imgPerfil" style="width: 75px; height: 75px;" src="/imatges/usuarios.png"></a>
            <!-- Contenido de la barra de herramientas -->
        </div>
        </header>
        <!-- capçalera apartat perfil -->
        <header th:fragment="capcaleraPerfil">
            <div style="background-color: #97FF00; padding: 30px; display: flex; align-items: center;  height:75px">
            <!-- Logo -->
            <a href="/inici">
                <img src="/imatges/logo2.png" alt="logo" class="logo" style="width: 75px; height: 75px; margin-right: 5px;"></a>
                <div style="padding: 660px;"></div>
            <a href="/perfil">
                <img alt="imgPerfil" class="imgPerfil" style="width: 75px; height: 75px;" src="/imatges/usuarios.png"></a>
            <!-- Contenido de la barra de herramientas -->
        </div>
        </header>
    </body>
</html>
