/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 abr 2023, 14:50:26
    Author     : guiup
*/

/* Estilo de la barra de herramientas */
.toolbar {
  background-color: #00CCE5;
  padding: 30px;
  display: flex;
  align-items: center;
}

/* Estilo del logo */
.logo {
  width: 75px;
  height: 75px;
  margin-right: 5px;
}

/* Estilo img perfil */
.imgPerfil {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

